<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>电力监控系统</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/count.css">
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body class="bodyy">

<nav class="navbar-default" role="navigation">
	<div class="container-fluid"> 
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#example-navbar-collapse">
			<span class="sr-only">切换导航</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">电力监控系统</a>
	</div>
	<div class="collapse navbar-collapse" id="example-navbar-collapse">
		<ul class="nav navbar-nav">
            <li><a>    </a></li>
            <li><a href="index.html">电力监控</a></li>
            <li><a>    </a></li>
            <li class="active"><a href="count.html">统计分析</a></li>
            <li><a>    </a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					用户 <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="#">登录</a></li>
					<li class="divider"></li>
					<li><a href="#">注销</a></li>
				</ul>
			</li>
		</ul>
	</div>
	</div>
</nav>


<h1 class="wenzi">电力测控统计分析 节点1</h1>
<div id="voltage" class="echart_div"></div>

</body>

    <!-- ECharts单文件引入 -->
    <script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
    <script type="text/javascript">
        // 路径配置
        require.config({
            paths: {
                echarts: 'http://echarts.baidu.com/build/dist'
            }
        });
        
        // 使用
        require(
            [
                'echarts',
                'echarts/chart/line', // 使用柱状图就加载bar模块，按需加载
                'echarts/chart/bar'
            ],
            function (ec) {
                // 基于准备好的dom，初始化echarts图表
                var voltage_Chart = ec.init(document.getElementById('voltage')); 

                var voltage_option = {
                    tooltip: {
                        trigger: 'axis',
                    },
                    legend: {
                        selected:{'当前':false,'每月':false},
                        selectedMode:'single',
                        data: ['功耗(W)','月总功耗(KW)'],
                        x:'left'
                    },
                    dataZoom: {
                        show: true,
                        realtime: true,
                        start: 0,
                        end: 100
                    },
                    calculable : true,
                    xAxis : [
                        {
                            splitLine:{show: false},//去除网格线
                            type : 'category',
                            data : [
                            '2018/4/25','2018/4/26','2018/4/27','2018/4/28','2018/4/29','2018/4/30','2018/5/1','2018/5/2','2018/5/3','2018/5/4','2018/5/5','2018/5/6','2018/5/7','2018/5/8','2018/5/9','2018/5/10','2018/5/11','2018/5/12','2018/5/13','2018/5/14','2018/5/15','2018/5/16','2018/5/17','2018/5/18','2018/5/19','2018/5/20','2018/5/21','2018/5/22','2018/5/23','2018/5/24'
                            ]
                        }
                    ],
                    yAxis : [
                        {
                            "name":"功耗(W)",
                            show:true,
                            type : 'value',
                            axisLabel : {
                            formatter: '{value} '
                        }
                        },
                    ],
                    series : [
                    {
                            "name":"功耗(W)",
                            "type":"bar",
                            "smooth":"true",
                            "data":[1922, 2011, 2012,2066, 2088, 2014, 2119, 1957, 1890, 1924, 2027, 1934, 2011, 2056, 1988, 1894, 2140, 2133, 1923, 2006, 2092, 2082, 1927, 2086, 2016, 2093, 1985, 1996, 2139, 2044]
                    },
                    ]
                };

            var myconfig = require('echarts/config')
            voltage_Chart.on(myconfig.EVENT.LEGEND_SELECTED,function(param){
            var selected = param.selected;
            if(selected['月总功耗(KW)']){
                voltage_option.yAxis = [
                        {
//                            splitLine:{show: false},//去除网格线
                            "name":"月总功耗(KW)",
                            type : 'value',
                            axisLabel : {
                            formatter: '{value} '
                        }
                        },   
                    ]
                voltage_option.xAxis = [
                        {
                            splitLine:{show: false},//去除网格线
                            type : 'category',
                            data : [
                            '2017/06','2017/07','2017/08','2017/09','2017/10','2017/11','2017/12','2018/01','2018/02','2018/03','2018/04','2018/05'
                            ]
                        }
                    ]
                voltage_option.series = [
                    {
                            "name":"月总功耗(KW)",
                            "type":"bar",
                            "smooth":"true", 
                            symbol:'none',
                            "data":[60, 58, 58, 59, 61, 61, 60, 59, 59, 62, 62, 59],
                    } 
                ]
            }

            else if(selected['功耗(W)']){
                voltage_option.yAxis = [
                        {
//                            splitLine:{show: false},//去除网格线
                            "name":"功耗(W)",
                            type : 'value',
                            axisLabel : {
                            formatter: '{value} '
                        }
                        },   
                    ]
                voltage_option.xAxis = [
                        {
                            splitLine:{show: false},//去除网格线
                            type : 'category',
                            data : [
                            '2018/4/25','2018/4/26','2018/4/27','2018/4/28','2018/4/29','2018/4/30','2018/5/1','2018/5/2','2018/5/3','2018/5/6','2018/5/7','2018/5/8','2018/5/9','2018/5/10','2018/5/11','2018/5/12','2018/5/13','2018/5/14','2018/5/15','2018/5/16','2018/5/17','2018/5/18','2018/5/19','2018/5/20','2018/5/21','2018/5/22','2018/5/23','2018/5/24'
                            ]
                        }
                    ]
                voltage_option.series = [
                {
                            "name":"功耗(W)",
                            "type":"bar",
                            symbol:'none',
                            "data":[1922, 2066, 2088, 2014, 2119, 1957, 1890, 1924, 2027, 1934, 2011, 2056, 1988, 1894, 2140, 2133, 1923, 2006, 2092, 2082, 1927, 2086, 2016, 2093, 1985, 1996, 2139, 2044]
                },
                ]
            }

            voltage_Chart.setOption(voltage_option,true);
            })

            voltage_Chart.on(myconfig.EVENT.CLICK,function(param){
                new_y_Axis = param.name;
                selected = voltage_option.series[0].name
                if (selected == '月总功耗(KW)'){
                    voltage_option.yAxis = [
                        {
//                            "name":new_y_Axis+"功耗(W)",
                            "name":"功耗(W)",
                            type : 'value',
                            axisLabel : {
                            formatter: '{value} '
                            }
                        }
                    ]
                    voltage_option.xAxis = [
                        {
                            splitLine:{show: false},//去除网格线
                            "type":"category",
                            "data":[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22,23, 24, 25, 26, 27, 28, 29, 30]
                        }
                    ]
                    voltage_option.series = [
                        {
                            "name":"日功耗(W)",
                            "type":"bar",
                            symbol:'none',
                            "data":[2018, 2035, 2003, 2013, 1953, 1979, 2036, 2062, 2035, 2054, 1989, 1992, 2025, 2013, 2073, 2075, 2048, 2006, 2075, 2059, 1978, 2048, 1973, 2071, 2055, 1954, 2074, 2023, 2067, 2029]
                        }
                    ]
                    voltage_Chart.setOption(voltage_option,true);
                }
            }) 
        
                // 为echarts对象加载数据 
                window.onresize = voltage_Chart.resize;
                voltage_Chart.setOption(voltage_option);

            }
        );



    </script>
                
</html>